# guide here https://github.com/julianschill/klipper-led_effect?tab=readme-ov-file

######################################################################
# LED Definition
######################################################################

[output_pin nozzle_led]
pin: PD12
#pwm: False
#   Set if the output pin should be capable of pulse-width-modulation.
#   If this is true, the value fields should be between 0 and 1; if it
#   is false the value fields should be either 0 or 1. The default is
#   False.
value: 1
#   The value to initially set the pin to during MCU configuration.
#   The default is 0 (for low voltage).
#shutdown_value:
#   The value to set the pin to on an MCU shutdown event. The default
#   is 0 (for low voltage).
#cycle_time: 0.100
#   The amount of time (in seconds) per PWM cycle. It is recommended
#   this be 10 milliseconds or greater when using software based PWM.
#   The default is 0.100 seconds for pwm pins.
#hardware_pwm: False
#   Enable this to use hardware PWM instead of software PWM. When
#   using hardware PWM the actual cycle time is constrained by the
#   implementation and may be significantly different than the
#   requested cycle_time. The default is False.
#scale:
#   This parameter can be used to alter how the 'value' and
#   'shutdown_value' parameters are interpreted for pwm pins. If
#   provided, then the 'value' parameter should be between 0.0 and
#   'scale'. This may be useful when configuring a PWM pin that
#   controls a stepper voltage reference. The 'scale' can be set to
#   the equivalent stepper amperage if the PWM were fully enabled, and
#   then the 'value' parameter can be specified using the desired
#   amperage for the stepper. The default is to not scale the 'value'
#   parameter.
#maximum_mcu_duration:
#static_value:
#   These options are deprecated and should no longer be specified.


[neopixel disco]
pin: PB6
chain_count: 36
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0

######################################################################
# LED Behaviour
######################################################################

[delayed_gcode startup]
initial_duration: 0.05
gcode:
  SET_LED_EFFECT EFFECT=power_on
  G4 P10000
  disco_default


######################################################################
# LED Macro
######################################################################

[gcode_macro disco_off]
gcode:
  STOP_LED_EFFECTS

[gcode_macro disco_default]
gcode: 
  STOP_LED_EFFECTS
  SET_LED_EFFECT EFFECT=default

#[gcode_macro disco_print_progress]
#gcode: 
#  STOP_LED_EFFECTS
#  SET_LED_EFFECT EFFECT=progress_bar_SX
#  SET_LED_EFFECT EFFECT=progress_bar_DX

[gcode_macro disco_homing]
gcode: 
  STOP_LED_EFFECTS
  SET_LED_EFFECT EFFECT=homing

[gcode_macro disco_leveling]
gcode: 
  STOP_LED_EFFECTS
  SET_LED_EFFECT EFFECT=leveling

[gcode_macro disco_meshing]
gcode: 
  STOP_LED_EFFECTS
  SET_LED_EFFECT EFFECT=meshing

[gcode_macro disco_printing]
gcode: 
  STOP_LED_EFFECTS
  SET_LED_EFFECT EFFECT=printing
  #SET_LED_EFFECT EFFECT=progress_bar_DX
  #SET_LED_EFFECT EFFECT=progress_bar_SX

[gcode_macro disco_extruder_heating]
gcode: 
  SET_LED_EFFECT EFFECT=heating_extruder1
  SET_LED_EFFECT EFFECT=heating_extruder2

[gcode_macro disco_bed_heating]
gcode: 
  SET_LED_EFFECT EFFECT=heating_bed1
  SET_LED_EFFECT EFFECT=heating_bed2

[gcode_macro critical]
gcode: 
  STOP_LED_EFFECTS
  SET_LED_EFFECT EFFECT=critical_error

######################################################################
# LED Effects
######################################################################

[led_effect default]
autostart: false
leds: 
  neopixel:disco
layers: 
  static      1 0 top (.3,.3,.3)

[led_effect critical_error]
autostart: false
leds:
  neopixel:sb_leds
  neopixel:disco
layers:
  strobe      1 1.5 add            (1.0,1.0,1.0)
  breathing   2 0   difference     (0.95,0,0)
  static      1 0   top            (1.0,0,0)
frame_rate: 24
run_on_error: true

[led_effect power_on]
autostart: false
frame_rate: 24
leds: 
  neopixel:disco
layers: 
  breathing  2 0 top (.5,.15,.05) # orange

[led_effect progress_bar_SX]
leds:
    neopixel:disco (4-1)
autostart: false
frame_rate: 24
layers:
    progress  -1  0 add         ( 0, 0,   1),( 0, 0.1, 0.6)
    static     0  0 top         ( 0, 0, 0.1)


[led_effect progress_bar_DX]
leds:
    neopixel:disco (33-36)
autostart: false
frame_rate: 24
layers:
    progress  -1  0 add         ( 0, 0,   1),( 0, 0.1, 0.6)
    static     0  0 top         ( 0, 0, 0.1)

[led_effect printing]
leds:
  neopixel:disco
autostart: false
frame_rate: 24
layers:
  static 1 0 top (1,1,1)

[led_effect homing]
leds:
  neopixel:disco
autostart: false
frame_rate: 24
layers:
  static 1 0 top (0,0.3,0.1)

[led_effect leveling]
leds:
  neopixel:disco
autostart: false
frame_rate: 24
layers:
  static 1 0 top (0.25,0.05,0.2)

[led_effect meshing]
leds:
  neopixel:disco
autostart: false
frame_rate: 24
layers:
  static 1 0 top (0.1,0.5,0)

[led_effect heating_bed1]
autostart: false
frame_rate: 24
leds: 
  neopixel:disco (10-18)
layers: 
  comet  1 1 top (1,0,0),(0.5,0,0) # red

[led_effect heating_bed2]
autostart: false
frame_rate: 24
leds: 
  neopixel:disco (27-19)
layers: 
  comet  1 1 top (1,0,0),(0.5,0,0) # red

[led_effect heating_extruder1]
autostart: false
frame_rate: 24
leds: 
  neopixel:disco (1-9)
layers: 
  comet  1 1 top (1,0.4,0.1),(0.6,0.2,0.05) # orange

[led_effect heating_extruder2]
autostart: false
frame_rate: 24
leds: 
  neopixel:disco (36-28)
layers: 
  comet  1 1 top (1,0.4,0.1),(0.6,0.2,0.05) # orange

  
  


  